@import '../index.css';

.addForm {
   margin: 10px;
}

.addForm__label {
    display: block;
    color: var(--labelColor);
}

.addForm__input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: var(--labelColor);
    min-width: 200px;
    min-height: 30px;
}

.addForm__input:active, .addForm__input:focus {
    outline: none;
}

.addForm__button {
    background-color: var(--addButton);
    color: var(--ButtonText);
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    display: block;
    margin: 20px;
    cursor:pointer;
}

.addForm__button:hover {
background-color: var(--addButtonHover);
}

.error {
    background-color: var(--errorBackground);
    color: var(--errorColor);
    padding: 5px;
    position: relative;
    border-radius: 2px;
    margin-top: 10px;
}

.error:after {
    content: ' ';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid var(--errorBackground);
    right: 50%;
    top: 0%;
    position:absolute;
    margin-top: -10px;
}

.addForm__input--error {
    border-bottom: 2px solid var(--errorColor);
}

@media only screen and (min-width: 768px) {
    .addForm {
        margin: 40px;
     }

     .addForm__input {
        min-width: 400px;
    }

    .error {
        display: inline-block;
        margin-left: 10px;
    }

    .error:after {
        border-right: 5px solid var(--errorBackground);
        border-bottom: 5px solid transparent;
        right: 100%;
        top: 50%;
        margin-top: -5px;
    }
}